__pycache__/game_board.cpython-313.pyc
__pycache__/game_controller.cpython-313.pyc
__pycache__/game_gui.cpython-313.pyc
__pycache__/logger_config.cpython-313.pyc
__pycache__/piece.cpython-313.pyc
__pycache__/search_algorithms.cpython-313.pyc
